body {
	background-image: url(../img/Fon.jpg);
}
img {
	width: 100%;
}
hr {
	border: 0;
	height: 3px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
nav {
	position: relative;
}
footer {
	background-image: url(../img/Fon_div.jpg);
	text-align: center;
	color: black;
	clear:both;
}
.container_1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(../img/Fon_div.jpg);
	background-size: contain;
	border: 5px solid saddlebrown;
	border-radius: 30px;
	margin: 75px auto;
	text-align: center;
	min-height: 550px;
	width: 875px;
}
.container_1 h1 span {
	color: darkred;
}
.carousel {
	margin-top: 25px;
}
.p-first-word {
	font-size: large;
	color: crimson;
}
.code-view {
	background-color: #f7ecb5;
	border-left: 4px solid black;
	font-weight: bold;
}
.el-wrap {
	background-color: #f7ecb5;
	font-weight: bold;
}
.iMenu {
	background-color: #222;
	overflow: hidden;
	position: fixed;
}
.iMenu a {
	color: #8c8c8c;
	text-decoration: none;
}
.iMenu a:hover {
	color: white;
}
#start:hover, #demo:hover, #first-menu:hover, #second-menu:hover {
	background-color: black;
}
#first-menu {
	margin-top: 2px;
	padding: 13px;
	height: 48px;
}
#first-menu:hover {
	height: auto;
}
#second-menu {
	margin: -7px 108px;
	padding: 22px;
	height: 55px;
}
#second-menu:hover {
	height: auto;
}
#carousel {
	display: none;
	height: 450px;
}
#instruction {
	display: none;
	text-align: left;
	padding: 25px;
}
#instruction h2, #full_code h2 {
	text-align: center;
	color: crimson;
}
#full_code {
	text-align: left;
	display: none;
}