/* In this file we make style*/

.game-name {
    padding: 0.4em 0.4em 1.4em 0.4em;
    background:  url('../image/dice-orange.png') no-repeat scroll 40.7% 25%;
    text-align:center;
    font-size: 3em;
}
.game-motivation {
    margin: -4.0em 0.0em 0.0em 0.0em;
    padding: 0.5em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    font-style: oblique;
}
/* For run game button */

.game {
    margin: -3.0em 0.0em 0.0em -3.0em;
    text-align: center;
}
.button-run-game {
    padding: 0.4em 2em 0.4em 0.5em;
    border-radius: 0.5em;
    background: green url('../image/dices.png') no-repeat scroll 50% 55%;
    color: lightgray;
    word-spacing: 2em;
    text-decoration: solid;
    font-size: 1.3em;
}
.button-run-game:hover {
    background: forestgreen url('../image/dices.png') no-repeat scroll 50% 50%;
}

/* For result-view */

.double {
    margin: 0.2em 0.0em 0.2em 35em;
    width: 10.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    background: #f7e9c3;
    font-weight: 600;
}
.result-player {
    margin: 0.2em 0.0em 0.2em 14em;
    width: 12em;
    padding:0.5em;
    background: #e5e5e5;
    font-size: 2em;
}
.winner {
    margin: 0.2em 0.0em 0.2em 14em;
    width: 9em;
    padding: 2em 2em 0.7em 2em;
    background: #f7e9c3 url('../image/cup_smoll.png') no-repeat scroll 50% 6%;
    color: #3f3826;
    font-size: 2em;
}

