body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.info-wrapper {
	padding: 0 5px;
}


.delete {
	display:block;
	background:rgba(255,255,255, 0.5);
	width:30px;
	position:absolute;
	z-index:1;
	top: 3px;
    right: 18px;
	color:#000;
	padding:0 8px;
	font-weight:200;
	font-size:18px;
	transition:all 0.5s;
}

.delete:hover{
	color:#000;
	background:#fff;
	text-decoration:none;
}
