  #result {
      font: 20px serif bold;
      color: #2ad119;
  }
  h1{
      font: 30px Arial italic;
      color: #3485dc;
  }
  span{
      font: 25px Tahoma bold;
      color: #dc143c;
  }
  p{
      font: 35px Tahoma bold ;
      color: #008000;

  }
  h1,p,#result{
      text-align: center;
  }
  body{
      background-color: #ffffff;
  }