body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.info-wrapper {
	padding: 0 5px;
}

#add {
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #76FF03;
	color: #212121;
	opacity: 0.6;
	padding: 10px;
	outline: none;
	margin-bottom: 5px;
	width: 20%;
	font-size: 14pt;
	font-weight: bold;
	transition: opacity .5s ease-in;
	-webkit-transition: opacity .5s ease-in;
}

#add:hover {
	opacity: 1;
}

.h3 {
	color: #34495e;
}

#count {
	color: white;
	width: 30px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: #E91E63;
	padding: 5px 10px 5px 10px;
	opacity: 0.7;
}

.remove {
	background: #F4511E;
	color: #E8EAF6;
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
	outline: none;
}

.form-control {
	margin-bottom: 10px;
}

#reset {
	background: #000000;
	color: white;
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
	outline: none;

}